#loading-screen {
  display: block;
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 1001;
}

#base {
  display: none;
}

.offcanvas {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1032;
}
body.offcanvas-expanded {
  overflow: hidden;
}
.offcanvas:first-child {
  left: 0;
  right: -36vh !important;
}
