#loading-screen {
  display: block;
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 1001;
}

#base {
  display: none;
}

.cooking {
  background-color: #dd4445;
  color: #f3f3f3;
}

.waitress {
  background-color: #fbc134;
  color: #f3f3f3;
}

.delivered {
  background-color: #50a746;
  color: #f3f3f3;
}

.kasir {
  background-color: #3ca2b8;
  color: #f3f3f3;
}
